@model Domain.Domain_Models.Shelter

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                        background-size:cover; width:100%; min-height: 100vh; background-color: rgba(0,0,0,0.1); background-blend-mode: darken;">
    <div class="container text-center" style="padding-top: 10vh; padding-bottom:10vh">
        <h1>Are you sure you want to delete @Model.Name?</h1>
    </div>

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex align-items-center justify-content-center p-0">
                <div class="card bg-dark" style="width: 100%; max-width: 500px;">
                    <div class="card-body text-white">
                        <h4 class="card-title">Shelter Information</h4>
                        <hr />
                        <dl class="row">

                            <dt class="col-4 text-end">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-8">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-4 text-end">
                                @Html.DisplayNameFor(model => model.City)
                            </dt>
                            <dd class="col-8">
                                @Html.DisplayFor(model => model.City)
                            </dd>
                            <dt class="col-4 text-end">
                                @Html.DisplayNameFor(model => model.Capacity)
                            </dt>
                            <dd class="col-8">
                                @Html.DisplayFor(model => model.Capacity)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="d-grid gap-2" style="width: 100%; max-width: 500px;">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger w-100" /> 
                        <a asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
