@model Domain.Domain_Models.Pet

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid">
    <div class="row min-vh-100">

        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div style="width: 80%;">
                <h4>Pet Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Breed)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Breed)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Sex)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Sex)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsVacinated)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsVacinated)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.imageUrl)
                    </dt>
                    <dd class="col-sm-10">
                        <img src="@Model.imageUrl" alt="Pet Photo" class="img-fluid" style="max-width: 100%; height: auto;" />
                    </dd>
                </dl>
                <div class="mt-3">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary w-100">Edit</a> |
                    <a asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
                </div>
            </div>
        </div>

        <div class="col-md-6"></div>
    </div>
</div>
